.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar__logo {
  img {
    width: 100px;
    height: auto;
  }
}

.navbar__links {
  a {
    font-size: 2.1rem;
    color: inherit;
    text-decoration: none;
    padding: 0.4rem;
  }
}

.header__container {
  padding: 2rem;
  text-align: center;
  h1 {
    font-size: 4.6rem;
    font-weight: 400;
  }
}

.moving__div-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/imgs/sample.png");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 50%;
  width: auto;
}

.moving__div {
  display: none;
  z-index: 10;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}

.count__display {
  width: 50px;
  height: 50px;
  background-color: red;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.count__hidden {
  display: none;

  p:first-child {
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2px;
  }

  p:last-child {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .count__down-container {
    text-align: center;
    display: flex;
    gap: 1rem;
  }

  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    padding: 0.7rem;
  }

  .social__media-container {
    margin-top: 1px;
    text-align: right;
    a {
      color: white;
      font-family: inherit;
      font-size: 1.4rem;
      font-weight: 400;

      &:visited {
        color: white;
      }

      &:active {
        color: white;
      }
    }
  }
}

.form__container {
  display: flex;
  justify-content: center;
  font-family: inherit;

  label {
    font-size: 1.7rem;
  }

  .btn {
    font-family: inherit;
    border: none;
    border-radius: 17px;
    padding: 0.4rem 0.7rem;
  }
}
